{% extends 'base.html.twig' %}
{%  block  body %}
<h1 class="mx-auto"> Tous les fichiers disponibles.... </h1>
<div class="row">
    
    
    {% for ressource in ressources %}
    
    <div class="container col-lg-3 col-md-4 col-sm-5 col-xs-10 my-3">
    
        <div class="card shadow rounded-lg">
             <h4 class="card-title p-2">{{ressource.nomRessource}}</h4>
            <div class="card-body p-0">
                <a href="{{ asset('uploads/profils/' ~ ressource.chemin) }}">
                    <img src="{{ asset("icons/pdf.png") }}" class="card-img-top">
                </a>  
              <span class="p-2" >  {{ressource.auteur.nom}} </span>
            </div> 
            <div class="card-footer">
                <a href="#" class="btn btn-primary"> Telecharger </a>
                <a href="{{path ('detail_ressource')}}" class="btn btn-success float-right"> details... </a>
            </div>
        </div>
    
    </div>  
      
    {% endfor %}
    
</div>
{% endblock %}
