<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RIMOTOWAKU{% endblock %}</title>
       
         
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('css/side.css') }}" >
           <link rel="stylesheet" href="{{ asset('css/flatly.css') }}" >
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{path ('home')}}">RIMOTOWAKU</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
               
            </ul>
        </div>
    </nav>
   
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-4 sidebar1">
                <div class="logo">
                    <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo">
                </div>
                <br>
                <div class="left-navigation">
                    <ul class="list">
                        {% if app.user %}
                            <div class="mb-3">
                               {{ app.user.nom }}
                            </div>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="{{path ('home')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="{{path ('admin')}}">Utilisateurs</a>
                        </li>
                       <li class="nav-item">
                            <a class="nav-link " href="{{path ('add_user')}}">Nouvel Utilisateur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{path ('detail_ressource')}}">Tous les fichiers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{path ('fichier')}}"> mes fichiers</a>
                        </li>
                    </ul>

                   
                </div>
            </div>
            <div class="col-md-10 col-sm-8 main-content">
                <!--Main content code to be written here --> 
                {% block body %}{% endblock %}
                
            </div>
        </div>
    </div>
    
         
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
