<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RIMOTOWAKU{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/flatly.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/side.css') }}" >
            <link rel="stylesheet" href="{{ asset('css/discussion.css') }}" >
            {{  encore_entry_link_tags('app')  }}
        {% endblock %}
    </head>
    <body height="100%" width="100%">  
		<div class="sidebar bg-primary">
          <a class="" href="{{path ('home')}}">
            <i class="fa fa-home" aria-hidden="true" style="font-size: 1.5em;"></i>
          <span>RIMOTOWAKU</span>
        </a>
          <a href="{{path ('admin')}}">
            <i class="fa fa-users" aria-hidden="true" style="font-size: 1.5em;"></i> 
              <span>Collaborateurs</span>
          </a>
          <a href="{{path ('fichier')}}">
            <i class="fa fa-file-text-o" aria-hidden="true" style="font-size: 1.5em;"></i>
              <span>Fichiers</span>
          </a>
          
          <a class="" href="{{ path('app_logout') }}">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 1.5em;"></i>
            <span>Deconnexion</span>
          </a>
              {% if app.user %}
                <a class="" href={{ path("show_user", {'id':app.user.id})  }}>
                    <i class="fa fa-user" aria-hidden="true" style="font-size: 1.5em;"></i>
                      <span>{{ app.user.nom }}</span>
                   </a>
              {% endif %}
          </a>
        </div>
      <div class="content">

           {% block body %}{% endblock %}
          
        </div>
  <!-- js placed at the end of the document so the pages load faster -->
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
